aside.logo {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.logo svg {
  padding: 0px 15px;
  width: 100%;
  color: white;
}

@media(max-width: 576px) {
  aside.logo img {
      width: 350px;
  }
}